.container{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	padding: 1rem .5rem;
	position: fixed;
	top: 3.25rem;
	right: 1rem;
	width: 20rem;
	height: 90%;
	overflow: hidden;
	background: var(--shape);
	border: 2px solid var(--borderColor);
	overflow: scroll;
	transition: .4s;	
	z-index: 100;
}

.containter-closed{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: fixed;
	top: 3.25rem;
	right: 1rem;
	width: 17.5rem;
	height: 0%;
	overflow: hidden;
	background: var(--shape);
	transition: .4s;
}


.cards-container{
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.cart-title{
	display: flex;
	width: 100%;
	justify-content: space-between;
	button{
		border: none;
		background: none;
		border-bottom: 1px solid #C7C3FB;
		color: #6558F5;
	}
}

.total-container{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 1rem 0;
}

.btn-container{
	width: 100%;
	height: 2.5rem;
	min-height: 2.5rem;
}